@import './vars.scss';
// @import './fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 14px;
  color: $dark-shade-75;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  color: $dark-shade-100;
  line-height: 29.26px;
}

h2 {
  font-weight: 700;
  font-size: 19px;
  color: $dark-shade-100;
  line-height: 23.16px;
}

h3 {
  font-weight: 700;
  font-size: 12px;
  color: $dark-shade-100;
  line-height: 14.63px;
}
