html 
  head
    link(rel='stylesheet', href='main.css')
  body 
    h1 Title h1
    h2 Title h2
    h3 Title h3
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, ipsum tempora quisquam, dignissimos eligendi, nemo ea excepturi sequi aspernatur modi ad perferendis quibusdam possimus voluptatum sapiente facere adipisci error alias.